<section data-ng-controller="HomeController">
    <div class="outerAbout col-md-12">
        <div class="row aboutBox">
            <h1>About NaijaBuzz</h1>
            <p>NaijaBuzz is an app created by Tolulope Komolafe as part of the projects done during The Andela Institute Fellowship Program</p>
            <p>The app is targeted towards helping Nigerians find out about events and also to creat events all without charge</p>
            <p>I hope this App helps to add more substance and spice to the lives of nigerians out there</p>
        </div>        
    </div>
</section>
