<section data-ng-controller="HomeController">
    <div class="outerContact col-md-12">
        <div class="row contactBox">
            <section id="primary" class="col-md-6">
                <h3>General Information</h3>
                <p>If you need to contact the developer of this App or have any questions or suggestions, please don't hesitate to get in touch.</p>
                <p>Please only use phone contact for urgent purposes. Otherwise Twitter and email are the best way to reach me.</p>
            </section>
            <section id="secondary" class="col-md-6">
                <h3>Contact Details</h3>
                <div class="socialContact">
                    <ul class="contact-info">
                        <li class="phone"><a href="tel:+234-7067-96-1609"><i class="glyphicon glyphicon-phone-alt"></i> +234-7067-96-1609</a>
                        </li>
                        <li class="mail"><a href="mailto:betkomuniq@yahoo.com"><i class="glyphicon glyphicon-envelope"></i>  betkomuniq@yahoo.com</a>
                        </li>
                        <li class="twitter">
                            <a href="http://twitter.com/intent/tweet?screen_name=betkom">
                                <img src="/modules/core/img/loaders/twit1.png">@betkom"</a>
                        </li>
                    </ul>
                    <div>
            </section>
            </div>

            </div>


</section>
