@import url(//fonts.googleapis.com/css?family=Poiret+One|Lobster|Shadows+Into+Light|Gloria+Hallelujah|Signika|Nunito:400,700|Dancing+Script|Coming+Soon);

/*******************
	GENERAL
*******************/
body{
	background: url('../img/loaders/background2.png');
}
header.navbar.navbar-fixed-top.navbar-inverse.ng-scope{
	background: rgba(0,0,0, 0.8);
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-brand{
	font-family: "Nunito" sans-serif;
	font-weight: bold;
	padding-left: 25px;

}
.naijabuzzlogo{
	float: left;
}
/*.navbar-brand::before{
	content: url('../img/brand/naijabuzzlogo.png');
	padding-right: 10px;
}*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	/*text-shadow: 1px 1px 3px #fff; */
	font-size: 2em;
	/*vertical-align: middle;*/
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand, .navbar-inverse .navbar-nav > li > a{
	color: green;
}
.navbar-inverse .navbar-nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background: green;
}
.navbar-inverse .navbar-nav > li > a:hover{
	background: green;
}
/*.navbar-inverse .navbar-nav > li > a:focus{
	background: green;
}*/
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.input-group{
	width:200px;
}
.socialIcon{
	width: 50px;
	height: 50px;
}
.page-header h1{
	color: green;
	font-family: 'Gloria Halleluyah' sans-serif;
}
.jumbotron{
	margin-top: 30px;
	color: gray;
	background: rgba(255,255,255,.1);
	padding-top: 7px;
	padding-bottom: 7px;
}
.welcome{
	text-align: center;
	color: green;	
	/*background: url('../img/loaders/party.jpg');*/
}
.welcome h1{
	font-size: 4.5em;
	font-family: "Nunito" sans-serif;
	text-shadow: 1px 1px 3px #fff; 
}
.outerWelcome{
	margin-left: 10%;
	background: url('../img/loaders/party.jpg')
}			
.welcomeBox{
	padding-top: 5%;
	padding-bottom: 5%;
	background: rgba(0,0,0, .8);	
}
.miniBox p::first-letter{
	font-size: 3em;
	padding: 5px;
	color: green;
}
.miniBox{
	opacity: 0.5;
	color: #fff;
	font-size: 2.5em;
	font-family: "signika" cursive;
	margin-right: 15px; 
	border-radius: 25%;
	vertical-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	transition: all 3s;
}
.miniBox:hover{
	opacity: 1;
	/*background: rgba(255,255,255, .1);*/
	transition: all 3s;
}
.welcome2{
	margin-left: 10%;	
	background: url('../img/loaders/party.jpg');
}
.welcomeBox2 {
	color:#fff;
	font-family: 'Poiret One' sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background: rgba(0,0,0, .8);
	padding-top: 10%;
	padding-bottom: 10%;
}
.welcomeBox2 h2{
	font-size: 3em;
}

/*View Program page*/
.programInfo{
	background: rgb(2,2,2);
}
.page-header, .lead{
	color: blue;
}
.thumbsopaque
{
	opacity: 0.5;
}
.descriptionBox{
	width: 300px;
}
.commentBox{
	margin-top: 20px;
	padding-top: 15px;
	border: solid 1px gray;
	vertical-align: center;
	width: 25%;
}
.commentBox p{
	margin-left: 10px;
}
.commentBox .cmtstart{
	margin-left: 5px;
}
.lead1{
	font-style: italic;
}
/******************
	SIGN UP PAGE
******************/
.signupBox{
	background: rgba(255,255,255, .1);
	margin-top: 50px;
	border-radius: 10%;
	color: green;
	padding-bottom: 15px;
}
.signupBox h3{
	font-size: 1.3em;
}
.show-signup{
	color:green;
}

/******************
	SIGN IN PAGE
******************/
.signinBox{
	background: rgba(255,255,255, .1);
	margin-top: 50px;
	border-radius: 10%;
	color: green;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.signinBox h3{
	font-size: 1.3em;
}


/*********************
	LIST EVENTS PAGE
**********************/
.eventBox{
	text-align: center;	
}
a.list-group-item:hover{
	background: rgba(0,0,0, .6);
}
a.list-group-item{
	background: rgba(0,0,0, .8);
	color: #fff;
	border: solid 1px #ccc;
}
/*******************
	MAP CONTAINER
*******************/
.mapResult{
	border: solid 1px gray;
	background: yellow;
	height: 400px;
	width: 400px;
}


footer{
	margin-bottom: 0;
	color: green;
	padding: 10px 5px;
	text-align: center;
}