<section data-ng-controller="ProgramsController">
    <div class="page-header">
        <h1>New Program</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class= "control-label" for="category">Category</label>
                    <div class="controls">
                    <select  data-ng-model="category" id="category" placeholder="Choose Category">
                        <option value="Sports" selected>Sports</option>
                        <option value="Party">Party</option>
                        <option value="Launch">Launch Events</option>
                        <option value="church">Church Events</option>
                    </select>
                    </div>
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="location">Location</label>
                    <div class="controls">
                        <input type="text" data-ng-model="location" id="location" class="form-control" placeholder="Location" required>
                    </div>
                    <label class="control-label" for="programDate">Event Date</label>
                    <div class="controls">
                        <input type="text" data-ng-model="programDate" id="programDate" class="form-control" placeholder="YYYY/MM/DD" required>
                    </div>
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Enter Event Description" required>
                    </div>
                    <div class="controls">
                        <input type="file" name="upload" data-ng-file-select="onFileSelect($files)" accept="image/*">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>