<section data-ng-controller="ProgramsController">
	<div class="eventResult">
	<h1 ng-hide = "noResult" style= "color:#ebebeb;"> <span data-ng-bind="searchResults.length"></span> Result(s) found</h1>
	 <div class="list-group">
    <div class="row">    
            <div class = "col-md-4 eventBox" data-ng-repeat="program in searchResults">    
            <a data-ng-href="#!/programs/{{program._id}}" class="list-group-item">
                 <div class="defaultImage">
                      <div style="height:180px;width:100%;background: url({{program.image[0].path}}) top center no-repeat;background-size:cover;margin:0px auto;">
                      </div>
                </div>
                <div class="eventTitle">
                <h4 class="list-group-item-heading" data-ng-bind="program.name"></h4>
                <p><span data-ng-bind="program.comments.length"></span><i class="glyphicon glyphicon-comment"></i> <span data-ng-bind="program.likes.length"></span><i class="glyphicon glyphicon-thumbs-up"></i></p>
                </div>
            </a>
            </div>
        </div>
    </div>
     <div class="noEvent" ng-show="noResult"><h1>No Event found</h1></div>
	
	</div>
<section>