<section data-ng-controller="ProgramsController" data-ng-init="findOne()"> 
	<div class="page-header">
		<h1 data-ng-bind="program.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == program.user._id">
		<a class="btn btn-primary" href="/#!/programs/{{program._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="program.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="program.user.displayName"></span>
			<span data-ng-bind="program.comments.length"></span>{{" comment(s)"}}
			<span data-ng-bind="program.likes.length"></span>{{" like(s)"}}

		</em>
	</small>

	<p class="lead" data-ng-bind="program.category"></p>
	<p class="lead" data-ng-bind="program.name"></p>
	<p class="lead" data-ng-bind="program.description"></p>
	<button type="button" ng-controller='LikesController' ng-click="create()">Like</button>
	<input class="commentEntry" data-ng-bind = "	comments "type= "text"/>
	<button type="button" ng-controller='CommentsController' ng-click = "create()">Add Comment</button>
	<div data-ng-repeat="comment in program.comments">
		<span class="lead1" data-ng-bind="comment.displayName"></span>
		<p class="lead" data-ng-bind="comment.comment">
	</p>
	</div>
	
</section>